*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body{
    background-color: rgb(247, 246, 246);
}
header{
    background-image: url('./Images/image-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    position: relative;
}
#nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
#nav-bar h1{
    color: white;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    font-size: 48px;
}
#nav-bar img{
    width: 20px;
    height: 25px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    position: absolute;
    top: 650px;
    gap: 50px;
}
.container p{
    color:  hsl(0, 0%, 48%);
    font-size: 50px;
    padding: 40px 0;
}
.container div{
    padding: 20px;
}
.container span{
    color: hsl(176, 50%, 47%);
    font-family: 'Commissioner', sans-serif;
    font-weight: 500;
}
.container-1{
   text-align: center;
   padding: 20px;
   border-radius: 25px;
   width: 100%;
   background-color: white;
   position: relative;
}
.container-1 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.container-1 .logo{
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 100px;
}
.container-1 .bookmark-img{
    height: 150px;
}
.container-1 h2{
    font-family: 'commissioner', sans-serif;
    font-weight: 700;
    padding: 50px;
    font-size: 60px;
}
.container-1 button{
    background-color: hsl(176, 50%, 47%);
    height: 150px;
    width: 75%;
    border-radius: 75px;
    border: none;
    color: white;
    font-size: 40px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 500;

}
.container-2{
    border: 2px solid hsl(0, 0%, 48%);
    background-color: white;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    border: none;
}
.container-2 p{
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 0%);
    font-size: 60px;
}
.container-2 span{
    display: block;
    color: hsl(0, 0%, 48%);
    font-size: 40px;
}
.container hr{
    width: 25%;
    margin: 0 auto;
}
.container-2 .progress-bar{
    background-color:rgb(247, 246, 246) ;
    margin: 50px;
    padding: 0;
    border-radius: 25px;
}
.container-2 .progress{
    width: 75%;
    background-color: hsl(176, 50%, 47%);
    border-radius: 25px;
}
.container-3{
    border-radius: 25px;
    display: grid;
    grid-template-columns: auto;
    gap: 40px;
    background-color: white;
    margin-bottom: 200px;
}
.container-3 h4{
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.container-3 h3{
    padding: 40px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.container-3 p{
    padding: 40px;
}
.container-3 .number{
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    color:hsl(0, 0%, 0%);
    font-size: 90px;
}
.container-3 .number-description{
    color:hsl(0, 0%, 48%);
    padding: 20px;
    margin: 0;
}
.container-4{
    border: 2px solid hsl(0, 0%, 48%);
    margin: 20px;
    border-radius: 25px;
}
.container-4 h4, span{
    padding: 40px 0 0 40px;
    font-size: 40px;
}

.container-4 button{
    height: 120px;
    width: 55%;
    border-radius: 75px;
    padding: 20px 0;
    background-color:hsl(176, 50%, 47%);
    color: white;
    font-size: 35px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 500;
    margin: 30px;
    border: none;
    text-align: center;
}
.container-5{
    border: 2px solid hsl(0, 0%, 48%);
    margin: 20px;
    border-radius: 25px;
}

.container-5 h4, span{
    padding: 40px 0 0 40px;
}
.container-5 button{
    height: 120px;
    width: 55%;
    border-radius: 75px;
    padding: 20px 0;
    background-color:hsl(176, 50%, 47%);
    color: white;
    font-size: 35px;
    margin: 30px;
    border: none;
    font-family: 'Commissioner', sans-serif;
    font-weight: 500;
}
.container-6{
    border: 2px solid hsl(0, 0%, 48%);
    margin: 20px;
    border-radius: 25px;
    opacity: 50%;
}

.container-6 h4 , span{
    padding:40px 0 0 40px;
}

.container-6 button{
    height: 120px;
    width: 55%;
    border-radius: 75px;
    padding: 20px 0;
    background-color:hsl(176, 50%, 47%);
    color: white;
    font-size: 35px;
    margin: 30px;
    background-color: hsl(0, 0%, 48%);
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    border: none;
}
